body {
	background-color: #000000;
}

td, tr{
	text-align: center;
}

h1, h2{
	color: white;
	text-align: center;
}


hr{
	text-align: center;
	width: 100%;
}

#tablauno {
	
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	border: 0;
	
}

.tr{
	text-align: center;
		margin-left: 15%;
	margin-right: 15%;
}

.td{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}

#img {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
}

.tablados{
	width: 30%;
	height: 25%;
	margin-left: 35%;
	margin-right: 35%;
	border: 1px;
	text-align: center;
}

#historia{

	color: red;
	text-align: center;
	font-weight: bold;
}


#Fauna{

	color: blue;
	text-align: center;
	font-weight: bold;
}

#Flora{

	color: green;
	text-align: center;
	font-weight: bold;
}

#Orografia{

	color: white;
	text-align: center;
	font-weight: bold;
}

#Pueblos{

	color: yellow;
	text-align: center;
	font-weight: bold;
}

.img {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 300px;
}